h1, h2 {
  font-family: "Oswald", sans-serif;
  color: DarkBlue;
}
body {
  font-family: "Open Sans", sans-serif;
  color: DarkBlue;
  margin: 10px 50px 10px 50px;
  background-color: ivory;
}

.format {
  width: 80%;
}

img {
  float:left;
}

li {
  display: inline;
  padding: 0 50px 0 50px;
}

.columns {
  float: left;
  width: 300px;
  margin: 0 20px 0 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
