h1, h2 {
  font-family: "Oswald", sans-serif;
  color: cornflowerblue;
}

body {
  font-family: "Open Sans", sans-serif;
  color: cornflowerblue;
  margin: 50px;
  background-color: ivory;
}

img {
  float:left;
}

li {
  display: inline;
  padding: 0 50px 0 50px;
}

.columns {
  float: left;
  width: 400px;
}

